body {
display: inline-block;
margin-left: calc( (100% - 800px) / 2);
    background-color: aqua;
}
header {
   display: inline-block;
   float: left;
   width: 100%;
   margin-top: 10px;
   margin-left: 1%;
    background-color: aquamarine;

}
header > img {
    
    background-color: red
    

}

div {
    width: 54%;
    display: inline-block;
    float: left;
    margin-top: 60px;
    margin-left: calc( (100% - 800px) / 2);
    background-color: rosybrown;

}
    h1 {
        margin: 0;
        font-size: 55px;
        

    }
    h2 {
        margin: 0;
        font-size: 45px;
        

    }

    nav {
        
        background-color: wheat;

    }
        p {
             background-color: teal;

        }
        a {
           

        }
body >img {
    display: inline-block;
    float: left;
    width: 45%;
    height: 450px;
    margin: 0;
    margin-top: 60px;
 
    
}