body {
display: inline-block;
 margin-left: 50px 
}
header {
   display: inline-block;
   float: left;
   width: 100%;
   margin-top: 10px;
   margin-left: 3%;


}
header > img {
    
    
    

}

div {
    width: 54%;
    display: inline-block;
    float: left;
    margin: 0;
    margin-top: 60px;
    margin-left: 7%;
    background-color: rosybrown;

}
    h1 {
        margin: 0;
        font-size: 60px;
        

    }
    h2 {
        margin: 0;
        margin-top: 10px;
        font-size: 45px;
        

    }

    nav {
        background-color: wheat;

    }
        p {
            font-size: 20px;
            font: bold;
            color: #6C6C6C;
            margin: 0;
            margin-top: 25px;
            margin-bottom:25px ;

            

        }
        ul {
            font-size: 20px;
            font: bold;
            color: #6C6C6C;
            float: inline-start;
            padding-inline-start: 0;
            margin: 0;
        }
        li{
        
        list-style-type: none;
        }
        a {
           

        }
body >img {
    display: inline-block;
    float: right;
    width: 350px;
    height: 450px;
    margin: 0;
    margin-top: 60px;
    margin-right: 50px;
 
    
}